START
PUSHI 0
READ
ATOI
STOREG 0
PUSHI 1

PUSHI 0
PUSHI 1

CICLO0:
PUSHG 1
 
PUSHG 0
 
PUSHI 1

ADD
INF
JZ FIM0
READ
ATOI
STOREG 2
PUSHG 3

PUSHG 2
MUL

STOREG 3
PUSHG 1
PUSHI 1
ADD

STOREG 1
JUMP CICLO0
FIM0:
PUSHG 3

PUSHS "O return é: "
WRITES
WRITEI
STOP 